<a href="{{ url }}" class="card-page-wrapper">
  <div class="card-page">
    <div class="card-page__content">
      <h3 class="card-page__title title font--body body-normal">
        {{ title | truncate: 75 | escape }}
      </h3>
    </div>
  </div>
</a>
