.predictive-search {
  display: none;
  width: 100%;
  min-height: 4.5rem;
  border: none;
  overflow: hidden;
}

.predictive-search--search-template {
  width: 100%;
}

@media screen and (min-width: 750px) {
  .header predictive-search {
    position: relative;
  }
}
predictive-search[open] .predictive-search,
predictive-search[loading] .predictive-search {
  display: block;
}
predictive-search[open] .search__button--reset,
predictive-search[loading] .search__button--reset {
  display: flex;
}

predictive-search .spinner {
  width: 1.5rem;
  height: 1.5rem;
  line-height: 0;
}

predictive-search:not([loading]) .predictive-search__loading-state,
predictive-search:not([loading]) .predictive-search-status__loading {
  display: none;
}

predictive-search[loading] .predictive-search__loading-state {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.3rem 2rem;
}

predictive-search[loading] .predictive-search__results-list:first-child {
  display: none;
}

.predictive-search__result-group {
  margin-top: 2rem;
}

.predictive-search__result-tabs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 0.6rem;
  margin: 0;
  padding: 0;
  padding-bottom: 1.6rem;
  width: 100%;
  list-style: none;
}
.predictive-search__result-tabs:empty {
  padding-bottom: 0;
}
.predictive-search__result-tab {
  padding: 0.7rem 1.2rem;
}

.predictive-search-results-wrapper {
  max-height: calc(100vh - var(--search-height, 0px) - var(--collection-card-height, 0px));
  max-height: calc(var(--vh, 1vh) * 100 - var(--search-height, 0px) - var(--collection-card-height, 0px));
  overflow-y: auto;
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
}
.predictive-search-results-wrapper::-webkit-scrollbar {
  width: 0.3rem;
  height: 0.3rem;
}
.predictive-search-results-wrapper::-webkit-scrollbar-thumb {
  background-color: rgba(var(--color-foreground), 0.2);
  border-radius: 2rem;
}
.predictive-search-results-wrapper .header__search-popular-links {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  width: calc(50% - 0.8rem);
}

.predictive-search__results-list {
  display: none;
  flex-direction: row;
  align-items: flex-start;
  gap: 0.6rem;
}
.predictive-search__results-list.active {
  display: flex;
}
.predictive-search__results-list_queries mark {
  background-color: rgb(var(--color-background-secondary));
  color: rgb(var(--color-foreground));
}

.predictive-search__empty {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 1rem;
}
.predictive-search--header .predictive-search__empty {
  margin-top: 1.6rem;
  align-items: flex-start;
  text-align: left;
}
.predictive-search__empty-text {
  color: rgb(var(--color-foreground-secondary));
  word-break: break-word;
  max-width: 35rem;
}

.no-js .predictive-search {
  display: none !important;
}