.rich-text__inner {
  display: flex;
  flex-direction: column;
  row-gap: 1.2rem;
  column-gap: 3.2rem;
}
@media (min-width: 990px) {
  .rich-text__inner {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 990px) {
  .rich-text__inner.container-changable {
    padding-inline: 1.2rem;
  }
}
.rich-text__inner.vertical-align--top {
  align-items: flex-start;
}
.rich-text__inner.vertical-align--center {
  align-items: center;
}
.rich-text__inner.vertical-align--bottom {
  align-items: flex-end;
}
.rich-text__inner.vertical-align--stretch .rich-text__blocks {
  height: auto;
  justify-content: space-between;
}
.rich-text__inner.vertical-align--stretch .rich-text__image-wrapper {
  align-self: center;
}
.rich-text__inner.horizontal-align--left {
  text-align: left;
}
.rich-text__inner.horizontal-align--left .rich-text__blocks {
  text-align: left;
}
.rich-text__inner.horizontal-align--left .rich-text__text.rte {
  align-self: flex-start;
}
.rich-text__inner.horizontal-align--left .rich-text__text.rte li {
  text-align: left;
}
@media (max-width: 989.99px) {
  .rich-text__inner.horizontal-align--left .rich-text__blocks--row {
    justify-content: flex-start;
  }
}
@media (min-width: 990px) {
  .rich-text__inner.horizontal-align--left .rich-text__blocks--row {
    align-items: flex-start;
  }
}
.rich-text__inner.horizontal-align--center {
  text-align: center;
}
.rich-text__inner.horizontal-align--center .rich-text__blocks {
  text-align: center;
}
.rich-text__inner.horizontal-align--center .rich-text__text.rte {
  align-self: center;
}
.rich-text__inner.horizontal-align--center .rich-text__text.rte > * {
  margin-inline: auto;
}
.rich-text__inner.horizontal-align--center .rich-text__text.rte li {
  margin-inline: auto;
  text-align: center;
}
@media (max-width: 989.99px) {
  .rich-text__inner.horizontal-align--center .rich-text__blocks--row {
    justify-content: center;
  }
}
@media (min-width: 990px) {
  .rich-text__inner.horizontal-align--center .rich-text__blocks--row {
    align-items: center;
  }
}
.rich-text__inner.horizontal-align--right {
  text-align: right;
}
.rich-text__inner.horizontal-align--right .rich-text__blocks {
  text-align: right;
}
.rich-text__inner.horizontal-align--right .rich-text__text.rte {
  align-self: flex-end;
}
.rich-text__inner.horizontal-align--right .rich-text__text.rte > * {
  margin-inline-start: auto;
}
.rich-text__inner.horizontal-align--right .rich-text__text.rte li {
  margin-inline-start: auto;
  text-align: right;
}
@media (max-width: 989.99px) {
  .rich-text__inner.horizontal-align--right .rich-text__blocks--row {
    justify-content: flex-end;
  }
}
@media (min-width: 990px) {
  .rich-text__inner.horizontal-align--right .rich-text__blocks--row {
    align-items: flex-end;
  }
}
.rich-text__inner.order--content_first .rich-text__blocks {
  order: -1;
}
.rich-text__inner.order--content_first .rich-text__image-wrapper {
  order: 1;
}
.rich-text__inner.order--image_first .rich-text__blocks {
  order: 1;
}
.rich-text__inner.order--image_first .rich-text__image-wrapper {
  order: -1;
}
.rich-text__blocks {
  display: flex;
  --column-gap: 2.4rem;
  column-gap: var(--column-gap);
  row-gap: 1.6rem;
  padding-inline: 1.2rem;
}
@media (min-width: 990px) {
  .rich-text__blocks {
    padding-inline: 0;
  }
}
@media (min-width: 1200px) {
  .rich-text__blocks {
    column-gap: var(--column-gap);
  }
}
.rich-text__blocks--row {
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
  padding-block-start: 1.2rem;
  padding-block-end: 1.2rem;
}
.rich-text__blocks--row:not(:has(.rich-text__heading)) .rich-text__text > * {
  width: 100%;
  max-width: 71.1rem;
}
@media (min-width: 750px) {
  .rich-text__blocks--row:not(:has(.rich-text__heading)) .rich-text__text > * {
    width: 71.1rem;
    max-width: unset;
  }
}
@media (min-width: 576px) {
  .rich-text__blocks--row {
    padding-block-end: 8rem;
  }
}
@media (min-width: 990px) {
  .rich-text__blocks--row {
    padding-block-end: 12rem;
  }
}
.rich-text__blocks--row .rich-text__heading {
  max-width: 71.1rem;
}
@media (min-width: 990px) {
  .rich-text__blocks--row .rich-text__heading {
    max-width: 60%;
  }
}
@media (min-width: 1200px) {
  .rich-text__blocks--row .rich-text__heading {
    max-width: min(91rem, 50%);
  }
}
@media (min-width: 1360px) {
  .rich-text__blocks--row .rich-text__heading {
    max-width: min(91rem, 58%);
  }
}
.rich-text__blocks--row .rich-text__text {
  max-width: 71.1rem;
}
@media (min-width: 990px) {
  .rich-text__blocks--row .rich-text__text {
    max-width: min(71.1rem, 40%);
  }
}
.rich-text__blocks--row .rich-text__text > * {
  max-width: 71.1rem;
}
.rich-text__blocks--row .rich-text__button-wrapper {
  width: 100%;
  flex-grow: 1;
  flex-shrink: 0;
}
.rich-text__blocks--column {
  height: 100%;
  flex-direction: column;
  padding-block: 1.2rem;
}
.rich-text__blocks--column .rich-text__heading {
  max-width: 94.8rem;
}
.rich-text__blocks--column .rich-text__text {
  max-width: 71.1rem;
}
@media (min-width: 1200px) {
  .rich-text__blocks--column .rich-text__text > * {
    max-width: 71.1rem !important;
  }
}
.rich-text__heading {
  width: 100%;
  flex-shrink: 0;
}
.rich-text__heading a {
  display: inline;
  color: rgba(var(--color-foreground));
  transition: background-size var(--duration-default) ease-in-out, opacity var(--duration-default) ease-in-out;
  background-position: left 90%;
  background-size: 100% 5%;
  background-image: linear-gradient(to right, rgba(var(--color-foreground)) 0%, rgba(var(--color-foreground)) 100%);
  background-repeat: no-repeat;
  text-decoration: none;
}
@media screen and (pointer: fine) {
  .rich-text__heading a:hover {
    background-size: 0% 5%;
    background-position: right 90%;
    opacity: 0.8;
  }
}
.rich-text__text {
  word-break: break-word;
  flex-shrink: 0;
}
.rich-text__text > * {
  word-break: break-word;
  padding: 0 !important;
  margin-inline: 0 !important;
}
.rich-text__text ul li,
.rich-text__text ol li {
  width: fit-content;
  margin-inline-start: 2.4rem;
}
.rich-text__image {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  z-index: 1;
}
.rich-text__image-wrapper {
  position: relative;
  width: 100%;
  flex-shrink: 0;
  border-radius: var(--border-radius-block);
  overflow: hidden;
}
@media (min-width: 990px) {
  .rich-text__image-wrapper {
    width: var(--image-width);
    margin-block: 1.2rem;
  }
}
.rich-text__image-wrapper::before {
  content: "";
  display: block;
  width: 0;
  padding-bottom: var(--padding-bottom-mobile);
}
@media (min-width: 990px) {
  .rich-text__image-wrapper::before {
    padding-bottom: var(--padding-bottom);
  }
}
.rich-text .placeholder-svg {
  display: block;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
@media (min-width: 990px) {
  .rich-text .placeholder-svg.adapt-to-image {
    position: static;
    width: 100%;
    height: auto;
  }
}
@media (max-width: 989.99px) {
  .rich-text .placeholder-svg.adapt-to-image-mobile {
    position: static;
    width: 100%;
    height: auto;
  }
}

[dir=rtl] .rich-text .rich-text__inner.horizontal-align--left, [dir=rtl] .rich-text .rich-text__inner.horizontal-align--right {
  text-align: right;
}
[dir=rtl] .rich-text .rich-text__inner.horizontal-align--left .rich-text__blocks, [dir=rtl] .rich-text .rich-text__inner.horizontal-align--right .rich-text__blocks {
  text-align: right;
}
[dir=rtl] .rich-text .rich-text__inner.horizontal-align--left .rich-text__text.rte, [dir=rtl] .rich-text .rich-text__inner.horizontal-align--right .rich-text__text.rte {
  align-self: flex-start;
}
[dir=rtl] .rich-text .rich-text__inner.horizontal-align--left .rich-text__text.rte li, [dir=rtl] .rich-text .rich-text__inner.horizontal-align--right .rich-text__text.rte li {
  margin-inline-end: auto;
  margin-inline-start: 2.4rem;
  text-align: right;
}
@media (max-width: 989.99px) {
  [dir=rtl] .rich-text .rich-text__inner.horizontal-align--left .rich-text__blocks--row, [dir=rtl] .rich-text .rich-text__inner.horizontal-align--right .rich-text__blocks--row {
    justify-content: flex-start;
  }
}
@media (min-width: 990px) {
  [dir=rtl] .rich-text .rich-text__inner.horizontal-align--left .rich-text__blocks--row, [dir=rtl] .rich-text .rich-text__inner.horizontal-align--right .rich-text__blocks--row {
    align-items: flex-start;
  }
}