.footer .footer-main {
  width: 100%;
  padding: 2rem 3rem;
  min-height: 3rem;
  display: flex;
  align-items: center;
}
.footer .footer-main-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 750px) {
  .footer .footer-main-wrapper {
    flex-direction: row;
    align-items: flex-start;
    justify-content: end;
    gap: 2rem;
    position: relative;
  }
}
.footer .footer-socials-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.2rem;
  width: 100%;
  padding: 0 0 1rem;
}
@media screen and (min-width: 750px) {
  .footer .footer-socials-group {
    width: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
  }
}
.footer .footer-social-link {
  display: flex;
  align-items: center;
  color: rgb(var(--color-foreground));
  transition: opacity var(--duration-default) ease;
}
.footer .footer-social-link svg {
  width: 2rem;
  height: 2rem;
  display: block;
}
@media (hover: hover) and (pointer: fine) {
  .footer .footer-social-link:hover {
    opacity: var(--hover-opacity);
  }
}
.footer .footer-block {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 1.2rem;
}
.footer .footer-block:empty {
  display: none;
}
.footer .footer-menu-blocks-wrapper {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: flex-start;
}
.footer .footer-menu-block {
  width: 100%;
  /* border-bottom: 0.1rem solid rgb(var(--color-border)); */
}
@media screen and (min-width: 750px) {
  .footer .footer-menu-block {
    flex: 0 0 auto;
    width: auto;
    width: 15rem;
    border: none;
  }
}
.footer .footer-menu-block:first-child > .footer-menu-block-accordion > .footer-menu-block-summary {
  padding-top: 0;
}
.footer .footer-menu-block:last-child {
  border: none;
}
.footer .footer-menu-block:last-child > .footer-menu-block-accordion:not([open]) > .footer-menu-block-summary {
  padding-bottom: 0;
}
.footer .footer-menu-block:last-child > .footer-menu-block-accordion > .footer-menu-block-list {
  padding: 0;
}
.footer .footer-menu-block-accordion {
  width: 100%;
}
.footer .footer-menu-block-summary {
  padding: 0 0 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  user-select: none;
  cursor: pointer;
  list-style: none;
  color: rgb(var(--color-foreground));
  gap: 4px;
}
.footer .footer-menu-block-summary::-webkit-details-marker {
  display: none;
}
.footer .footer-menu-block-summary .header-label {
  position: relative;
  display: inline;
  overflow-wrap: break-word;
  background: no-repeat 0 100%;
  background-size: 0% 0.1rem;
  background-image: linear-gradient(currentColor, currentColor);
  background-position-x: right;
  transition: background-size var(--duration-default) ease-in-out;
}
@media (hover: hover) and (pointer: fine) {
  .footer .footer-menu-block-summary:hover .header-label {
    background-size: 100% 0.1rem;
    background-position-x: left;
  }
}
.footer .footer-menu-block-summary .icon-chevron {
  position: static;
  width: 1.6rem;
  height: 1.6rem;
  color: rgba(var(--color-foreground));
  pointer-events: none;
  transform: rotate(0);
  transition: transform var(--duration-default) ease-in-out;
  flex-shrink: 0;
  margin-top: -2px;
}
.footer .footer-menu-block-summary + .footer-menu-block-list {
  user-select: none;
}
.footer .footer-menu-block-accordion[open] > .footer-menu-block-summary .icon-chevron {
  transform: rotate(-180deg);
}
.footer .footer-menu-block-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0.8rem 0;
}
@media screen and (min-width: 750px) {
  .footer .footer-menu-block-list {
    padding: 0;
  }
}
.footer .footer-menu-block-list__item {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.footer .footer-menu-block-list__link {
  display: block;
  padding: 0.3rem 0;
  line-height: 1.2;
  text-decoration: none;
  color: rgb(var(--color-foreground-secondary));
}
.footer .footer-menu-block-list__link .header-label {
  position: relative;
  display: inline;
  overflow-wrap: break-word;
  background: no-repeat 0 100%;
  background-size: 0% 0.1rem;
  background-image: linear-gradient(currentColor, currentColor);
  background-position-x: right;
  transition: background-size var(--duration-default) ease-in-out;
}
@media (hover: hover) and (pointer: fine) {
  .footer .footer-menu-block-list__link:hover .header-label,
  .footer .footer-menu-block-list__link:focus .header-label {
    background-size: 100% 0.1rem;
    background-position-x: left;
  }
}
.footer .footer-menu-item-chevron {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.footer .footer-menu-item-chevron .icon-chevron {
  width: 1.2rem;
  height: 1.2rem;
  transform: rotate(-90deg);
  color: rgb(var(--color-foreground-secondary));
}
.footer .footer-menu-block-list__item:first-child .footer-menu-block-list__link {
  padding-top: 0;
}
@media screen and (max-width: 750px) {
  .footer .footer-main-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .footer .footer-menu-blocks-wrapper {
    flex: 1;
    align-self: flex-start;
    flex-direction: column;
  }
  .footer .footer-socials-group {
    width: auto;
    align-self: flex-start;
  }
  @keyframes linksFadeIn {
    0% {
      opacity: 0;
      transform: translateY(5px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .footer footer details[open] ul {
    animation: linksFadeIn var(--duration-default) ease-in forwards;
  }
}
.footer .footer-subscribe-block {
  width: 100%;
  max-width: 100%;
}
@media screen and (min-width: 576px) {
  .footer .footer-subscribe-block {
    max-width: 55rem;
  }
}
@media screen and (min-width: 750px) {
  .footer .footer-subscribe-block {
    max-width: calc(50% - 0.8rem);
  }
}
@media screen and (min-width: 1200px) {
  .footer .footer-subscribe-block {
    width: 50%;
    max-width: 36rem;
    order: 1;
  }
}
@media screen and (min-width: 1360px) {
  .footer .footer-subscribe-block {
    max-width: 42rem;
  }
}
@media screen and (min-width: 1600px) {
  .footer .footer-subscribe-block {
    max-width: 47.4rem;
  }
}
.footer .footer-subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8rem;
  width: 100%;
}
.footer .footer-subscribe-form__text {
  color: rgba(var(--color-foreground-secondary));
  width: 100%;
}
@media screen and (min-width: 576px) {
  .footer .footer-subscribe-form__text {
    max-width: 49.8rem;
  }
}
.footer .footer-contact-block {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  order: 3;
}
@media screen and (min-width: 576px) {
  .footer .footer-contact-block {
    max-width: 55rem;
  }
}
@media screen and (min-width: 750px) {
  .footer .footer-contact-block {
    max-width: calc(50% - 0.8rem);
  }
}
@media screen and (min-width: 1200px) {
  .footer .footer-contact-block {
    max-width: 20rem;
  }
  .footer .footer-contact-block.left-on-desktop {
    order: -1;
  }
}
@media screen and (min-width: 1360px) {
  .footer .footer-contact-block {
    max-width: 24rem;
  }
}
.footer .footer-contact-block__description {
  color: rgba(var(--color-foreground));
  word-break: break-word;
}
.footer .footer-logo {
  max-width: 100%;
  transition: opacity var(--duration-default) ease;
}
@media screen and (pointer: fine) {
  .footer .footer-logo:hover {
    opacity: var(--hover-opacity);
  }
}
.footer .footer-logo__image {
  display: block;
  max-width: 100%;
  height: auto;
}
.footer .footer-logo__image--dark-mode {
  display: none;
}
.footer .footer-socials {
  margin-inline-start: -0.6rem;
}
@media (prefers-color-scheme: dark) {
  .footer [data-scheme=auto] .footer-logo.has-dm-logo .footer-logo__image--light-mode {
    display: none;
  }
  .footer [data-scheme=auto] .footer-logo.has-dm-logo .footer-logo__image--dark-mode {
    display: block;
  }
}
.footer [data-scheme=dark] .footer-logo.has-dm-logo .footer-logo__image--light-mode {
  display: none;
}
.footer [data-scheme=dark] .footer-logo.has-dm-logo .footer-logo__image--dark-mode {
  display: block;
}
.footer .footer-bottom {
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}
.footer .footer-bottom-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.2rem;
}
@media screen and (min-width: 750px) {
  .footer .footer-bottom-wrapper {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.6rem;
  }
}
.footer .footer-bottom-wrapper__main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1.2rem;
  width: 100%;
}
@media screen and (min-width: 750px) {
  .footer .footer-bottom-wrapper__main {
    width: auto;
    gap: 1.6rem;
  }
}
.footer .footer-copyright__content {
  color: rgb(var(--color-foreground-secondary));
}
.footer .footer-policies {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.4rem;
}
.footer .footer-policies__link {
  color: rgb(var(--color-foreground-secondary));
}
.footer .list-payment {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 0.8rem;
}
.footer .list-payment__item {
  align-items: center;
  display: flex;
}
.footer .list-payment__item svg {
  height: 1.8rem;
  width: auto;
}