.password {
  background-color: rgb(var(--color-background));
  height: 100%;
}

.password-modal {
  background-color: rgb(var(--color-background));
}
.password-modal__toggle {
  z-index: 10;
  list-style-type: none;
  cursor: pointer;
}
.password-modal__toggle-open {
  display: flex;
}
details[open].password-modal .password-modal__toggle-open {
  display: none;
}
.password-modal__toggle-close {
  display: none;
}
details[open].password-modal .password-modal__toggle-close {
  display: flex;
}
.password-modal__toggle::-webkit-details-marker {
  display: none;
}
.password-modal__wrapper {
  z-index: 9;
  position: absolute;
  inset: 0;
  background: rgb(var(--color-background));
  display: flex;
  justify-content: center;
  align-items: center;
}
.password-modal__form-wrapper {
  position: relative;
  width: 100%;
}
.password-modal .password-form {
  max-width: 50rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 1.6rem;
  margin-bottom: 2rem;
  width: 100%;
}
.password-modal .form__message {
  font-size: 1.2rem;
  color: rgb(var(--color-error));
  position: absolute;
  top: calc(100% + 0.3rem);
  left: 0;
  margin-top: 0;
}
.password-modal__content {
  max-width: 94.8rem;
  width: 100%;
  height: 100%;
  padding: 3.2rem 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-inline: auto;
  box-sizing: border-box;
  align-items: center;
}
.password-modal__content-heading {
  margin-bottom: 0.8rem;
}

.password-link {
  align-items: center;
  font-size: 1.4rem;
  font-weight: 400;
  white-space: nowrap;
}
.password-link svg {
  width: 2rem;
  height: 2rem;
  margin-right: 0.8rem;
}
.password-link svg path {
  stroke-width: 2;
}

.password-header {
  padding-block: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  color: rgb(var(--color-foreground));
  margin: 0 auto;
  gap: 2.4rem;
}
.password-header .header__heading-link {
  pointer-events: none;
}
.password-header .header__heading-link .header-label {
  font-family: var(--font-header-menu-family);
  font-style: var(--font-header-menu-style);
  font-weight: var(--font-header-menu-weight);
  font-size: calc(var(--font-header-menu-text-scale) * 1rem);
  text-transform: var(--font-header-menu-text-transform);
  letter-spacing: var(--font-header-menu-letter-spacing);
  line-height: 1.5;
  word-break: break-word;
  max-width: unset !important;
}

.password-main {
  position: relative;
}
.password-main > section:only-child {
  height: 100%;
}
.password-main > section:only-child > .newsletter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.password-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
  color: rgb(var(--color-foreground));
}
.password-footer__text {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.password-footer__text--with-link a {
  font-size: 1.4rem;
  display: inline;
  color: rgba(var(--color-foreground));
  background-position: left 100%;
  background-size: 100% 5%;
  background-image: linear-gradient(to right, rgba(var(--color-foreground)) 0%, rgba(var(--color-foreground)) 100%);
  background-repeat: no-repeat;
  text-decoration: none;
  transition: background-size var(--duration-default) ease-in-out;
}
@media screen and (pointer: fine) {
  .password-footer__text--with-link a:hover {
    background-size: 0% 5%;
    background-position: right 100%;
  }
}
.password-footer__text--with-shopify a {
  transition: opacity var(--duration-default) ease-in-out;
}
@media screen and (pointer: fine) {
  .password-footer__text--with-shopify a:hover {
    opacity: 0.8;
  }
}
.password-footer__login {
  margin-top: 1.2rem;
  padding-bottom: 4rem;
}
.password-footer .list-social:not(:empty) + .password-footer__text {
  margin-top: 1.2rem;
}
.password-footer .icon-shopify {
  width: 7rem;
  height: 2rem;
  vertical-align: top;
  color: rgb(var(--color-foreground));
}

.password-content {
  text-align: center;
}